.footerContainer {
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    height: 50px;
    position: fixed;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    backdrop-filter: blur(5px);
}

.footerContainer a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.footerContainer a:hover {
    text-decoration: underline;
}

.footerContainer button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    text-decoration: underline;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.footerContainer button:hover {
    text-decoration: none;
}

.left,
.center,
.right {
    display: flex;
    align-items: center;
}