.container {
    background-image: url('../assets/mountains.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(100vh - 40px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    overflow: hidden;
    box-sizing: border-box;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.cardContainer {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.card {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 20px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.card:hover {
    transform: scale(1.05);
}

.profilePic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.name {
    margin: 10px 0;
    font-size: 1.5em;
}

.socialMedia {
    display: flex;
    gap: 10px;
    font-size: 1.5em;
}

@media (max-width: 768px) {
    .cardContainer {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .card {
        width: 80%;
        margin-bottom: 20px;
    }
}